@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter";
    background-color: #efefef;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.05em;

    color: gray;

    @media (max-width: 640px) {
        font-size: 30px;
    }
}

h2 {
    font-size: 24px;

    color: gray;

    @media (max-width: 640px) {
        font-size: 15px;
    }
}

h3 {
    font-size: 18px;

    color: gray;

    @media (max-width: 640px) {
        font-size: 12px;
    }
}

h4 {
    font-size: 12px;

    color: gray;

    @media (max-width: 640px) {
        font-size: 7px;
    }
}
